* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    outline: none;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
}
.wrap {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    position: relative;
    
}
.wrap3 {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
}
.blockone {
    width: 100vw;
    height: 100vh;
    background: url(../img/bgblock1.png) no-repeat center;
    background-size: cover;
}
.logo {
  position: relative;
  left: 10px;
  width: 128px;
  height: 50px;
  background: url(../img/mainlogo.png) no-repeat center;
  margin: 15px 0;
}
ul {
  list-style-type: none;
  display: flex;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  font-family: 'Roboto', sans-serif;
}
header {
  align-items: center;
  justify-content: space-between;
}
li a:hover {
  color: #00e0d0;
}


/* ///////Slider///////// */
/* * {box-sizing: border-box} */
/* body {font-family: Verdana, sans-serif; margin:0} */
/* .mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 780px;
  height: 90vh;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.message {
  max-height: 260px;
  overflow: hidden;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 130px 2px 0px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.divider {
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin: 21px auto 30px;
}
.message {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
.button {
  height: 40px;
  width: 120px;
  background: url(../img/learnmore.png) no-repeat center;
  margin: 0 auto;
  display: inline-block;
  
}
.slidercont {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.blocktwo {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0 70px;

}
.storycontainer {
  display: flex;
  flex-direction: column;
  
  
}
.biglogo {
  width: 14vw;
  height: 25vh;
  background: url(../img/biglogo.png) center no-repeat;
  background-size: contain;
  /* border: 1px solid red; */
  align-self: flex-start;
  margin: 0 50px 0 0;
}
.ourstory{
  /* border: 1px solid red; */
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.story {
  width: 28vw;
  /* height: 90px; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.32px;
  opacity: 0.75;
  margin: 20px 0 20px 0;
  overflow-y: auto;
  /* border: 1px solid red; */
}
.button {
  height: 40px;
  width: 120px;
  background: url(../img/learnmore.png) no-repeat center;
  margin: auto;
  display: inline-block;
}
.blockthree {
    width: 100vw;
    height: 550px;
    background: url(../img/bgblock2.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videocontainer {
  width: 10%;
  height: 30%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.play {
  width: 100px;
  height: 100px;
  background: url(../img/playbtn.png) no-repeat center;
  background-size: cover;
}
.wos a {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-decoration: none;
}
.blockfour {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
.secthead {
  position: relative;
  margin-top: 72px;
  margin-bottom: 18px;
  display: block;
  height: 47px;
}
h1 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-align: center;
}
p {
  opacity: 0.75;
  color: #2f2d35;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.85px;
  margin-top: 10px;
}
.divider2 {
  width: 50px;
  height: 1px;
  background-color: #413d4b;
  opacity: 0.3;
}
.web {
  width: 310px;
  height: 250px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoweb {
  width: 33%;
  height: 60px;
  background: url(../img/web.png) no-repeat center;
}
h2 {
  color: #413d4b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.exp{
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
  text-align: center;
  max-width: 90%;
}
.branding {
  width: 310px;
  height: 250px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logobranding {
  width: 33%;
  height: 60px;
  background: url(../img/branding.png) no-repeat center;
}
.mobile {
  width: 310px;
  height: 250px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logomobile {
  width: 33%;
  height: 60px;
  background: url(../img/mobile.png) no-repeat center;
}
.opti {
  width: 310px;
  height: 250px;
  /* border-right: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoopti {
  width: 33%;
  height: 60px;
  background: url(../img/opti.png) no-repeat center;
}
.game {
  width: 310px;
  height: 250px;
  /* border-top: 1px solid gray; */
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.logogame {
  width: 33%;
  height: 60px;
  background: url(../img/game.png) no-repeat center;
}
.love {
  width: 310px;
  height: 250px;
  /* border-top: 1px solid gray; */
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.logolove {
  width: 33%;
  height: 60px;
  background: url(../img/love.png) no-repeat center;
}
.expcontainer {
  display: flex;
  max-width: 940px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 68px;
}
.blockfive {
  width: 100vw;
  height: auto;
  display: flex;
  background: url(../img/bgblock3.png) no-repeat center;
  background-size: cover;
}
.wrap2 {
  /* max-width: 970px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.wrap2 p {
  color: white;
  margin-bottom: 18px;
  text-align: center;
}
.wrap2 h1 {
  color: white;
  margin-bottom: 10px;
  margin-top: 72px;
}
.divider3 {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.3;
  margin: 0 auto;
}
.crew {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 70px;
  justify-content: center;
}
.actor {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.photocard1 {
  width: 220px;
  height: 229px;
  background: url(../img/photo01.jpg) no-repeat center;
  background-size: cover;
}
.photocard2 {
  width: 220px;
  height: 229px;
  background: url(../img/photo02.jpg) no-repeat center;
  background-size: cover;
}
.photocard3 {
  width: 220px;
  height: 229px;
  background: url(../img/photo03.jpg) no-repeat center;
  background-size: cover;
}
.photocard4 {
  width: 220px;
  height: 229px;
  background: url(../img/photo04.jpg) no-repeat center;
  background-size: cover;
}
.name {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-top: 18px;
}
.pos {
  opacity: 0.7;
  color: #fafafa;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 18px;
}
.char {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fafafa;
}
.joinus {
  position: relative;
  color: #f3f3f3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
}
.maxbutton a {
  text-decoration: none;
  color: #00e0d0;
  font-size: 15px;
  font-family: "Hammersmith One";
  font-weight: 400;
  
  text-transform: uppercase;
  border: 1px solid #00e0d0;
  padding: 14px;
}
.maxbutton {
  position: relative;
  bottom: 23px;
  margin: 69px auto;
}
.maxbutton2 {
  position: relative;
  margin: 69px auto;
}
.maxbutton2 a {
  text-decoration: none;
  color: #00e0d0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Hammersmith One";
  text-transform: uppercase;
  border: 1.5px solid #00e0d0;
  padding: 14px 27px;
}
.blocksix {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryhead {
  width: 940px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.ourworks {
  position: relative;
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.alltext {
  position: relative;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  align-self: flex-end;
}
.alltext:after {
  content: ' \003E';
  opacity: 0.75;
}
.alltext a {
  text-decoration: none;
}
.gall {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.gitem {
  width: 320px;
  height: 180px;
  overflow: hidden;
}
.blockseven {
  width: 100vw;
  height: auto;
  display: flex;
  background: url(../img/bgblock4.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0 70px;
}
.quotes {
  position: relative;
  width: 35px;
  height: 35px;
  background: url(../img/quotes.png) no-repeat center;
  background-size: contain;
  margin: 0 auto 40px;
}
.portslider {
  width: 40%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */


}
.portslider .slider-for h3 {
  /* background: #fff; */
  opacity: 0.85;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  /* line-height: 100px; */
  /* margin: 10px; */
  /* padding: 2%; */
  position: relative;
  text-align: center;
}
.portslider .slider-for h4 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  letter-spacing: 0.7px;
  margin-top: 50px;
}
.portslider .slider-for h5 {
  opacity: 0.7;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-top: 15px;
}
.portslider .action {
  display:block;
  margin:10px auto;
  width:100%;
  text-align:center;
}
/* .portslider .action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.portslider .action a:hover{
  background:#000;
} */
.face1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../img/port/r_g.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  /* left: 356px; */
}
.face2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../img/port/l_e_j.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  /* left: 356px; */
}
.face3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../img/port/l_r.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  /* left: 356px; */
}
.face4 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../img/port/r_d.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  /* left: 356px; */
}
.face5 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(../img/port/h_l.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  /* left: 356px; */
}
  
.blockeight {
  width: 100vw;
  height: auto;
  display: flex;
  padding: 60px 0 70px;
}
.ourform {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 10px;
}
.form-title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 35px;
  
}
form {
  display: flex;
  flex-direction: column;
}
input[type=text] {
  width: 460px;
  padding: 17px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #000000;
  opacity: 0.3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
}
input[type=email] {
  width: 460px;
  padding: 17px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #000000;
  opacity: 0.3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
}
input[type=submit] {
  width: 140px;
  background: none;
  border: 1.5px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;
}
textarea {
  width: 460px;
  padding: 17px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #000000;
  opacity: 0.3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
}
.ourclient {
  position: relative;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.clients {
  width: 380px;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.first-column {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.second-column {
  display: flex;
  flex-direction: column;
  
}
.zara {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Zara_Logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.barneys {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/1280px-Barneys_New_York_Logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.ck {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Calvin_klein_logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.converse {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Converse_logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.levis {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/1280px-Levis_logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.mango {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Logo_of_Mango.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.gussi {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/1280px-Gucci_Logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.nike {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/1280px-Logo_NIKE.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.puma {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Puma_Logo.svg.png) no-repeat center;
  margin-bottom: 10px;
}
.bb {
  width: 160px;
  height: 80px;
  /* border: 1px solid red; */
  background: url(../img/logo/Billabong.svg.png) no-repeat center;
  margin-bottom: 10px;
}
footer {
  width: 100%;
  height: auto;
  display: flex;
  background: url(../img/bgblock5.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0 70px;
}
.maincontainer {
  display: flex;
  width: inherit;
  justify-content: center;
  flex-wrap: wrap;
}
.shortabout {
  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.small-logo {
  height: 50px;
  width: 128px;
  background: url(../img/tajam_logo_small.png) no-repeat center;

}
.shortabout p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
  opacity: 1;
}
.address {
  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.our-head {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.tel {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
  opacity: 1;

}
.tel:before {
  content: url(../img/phone.png);
  margin-right: 20px;
  position: relative;
  top: 3px;
  
}
.loca {
  display: flex;
}
.loca img {
  margin-top: 13px;
}
.loca p {
  margin-left: 25px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
  opacity: 1;
}
.zubscribe {
  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;

}
.zubscribe form {
    display: flex;
    flex-direction: row;

}
.zubscribe form input[type=email] {
  width: 210px;
  padding: 13px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
  background: none;
}
.zubscribe form ::placeholder {
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0.2px; 

}
.button4 {
  width: 70px;
  height: 45px;
  margin: 10px 0px 8px 10px;
  display: inline-block;
  border: 1px solid #ffffff;
  opacity: 0.7;
  box-sizing: border-box;
  background: #ffffff;
  opacity: 0.4;
}
.button4:hover {
  cursor: pointer;
  opacity: 1;
}
.social {
  display: flex;
  margin-top: 8px;
}
.fb {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_facebook.png) no-repeat center;
  margin-right: 8px;
}
.twit {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_twitter.png) no-repeat center;
  margin-right: 8px;
}
.site {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_internet.png) no-repeat center;
  margin-right: 8px;
}
.inst {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_insta.png) no-repeat center;
  margin-right: 8px;
}
.google {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_google.png) no-repeat center;
  margin-right: 8px;
}
.yt {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/f_youtube.png) no-repeat center;
  margin-right: 8px;
}
.teamcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.teamcontainer .first a {
  padding: 0px 16px 0px 0px;
}
.teamcontainer .right {
  position: relative;
  bottom: 12px;
  width: 230px;
  margin-left: auto;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}
/* Burger menu!!!! */
.menu {
  text-align: right;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00e0d0;
  /* border-radius: 5px; */
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 3px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 23px;
}
@media screen and (max-width: 940px) {
  .menu__icon{
    display: inline-block;
    right: 10px;
    position: absolute;
    z-index: 40;
  }
  
  .menu__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    top: 20px;
    right: 0;
    left: 0;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;
    overflow: auto;
    transition: all 0.4s;
    height: 100vh;
    top: -49px;
    z-index: 35;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.menu.menu_state_open .menu__links {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1; 
    justify-content: center;
    

  }
  .menu.menu_state_open .menu__links li a {
    font-size: 24px;
    text-decoration: underline;
  }
  @media screen and (max-width: 800px) {
    .message {
      margin-left: 10px;
    }
     .galleryhead {
       justify-content: space-around;
     }
     .wos {
       text-align: center;
     }
     .mobile {
       /* border-right: 1px solid gray; */
       border-left: none;
     }
     .opti {
       border-left: 1px solid gray;
       border-bottom: 1px solid gray;
     }
     .game {
       border-left: none;
     }
     input[type=text] {
       width: 100%;
     }
     input[type=email] {
       width: 100%;
     }
     textarea {
       width: 88vw
     }
     .ourform {
       align-items: center;
       width: 80vw;
       margin-right: 0;
     }
     input[type=submit] {
       align-self: center;
     }
     .ourclient {
       margin-top: 40px; 
     }
     .form-title {
       text-align: center;
     }
     .teamcontainer {
     
       flex-direction: column;
       align-items: center;
     }
     .teamcontainer .right {
       margin-left: 0;
       margin-top: 20px;
     }
 }  
@media screen and (max-width: 768px) {
   .message {
     margin-left: 10px;
   }
    .galleryhead {
      justify-content: space-around;
    }
    .wos {
      text-align: center;
    }
    .mobile {
      /* border-right: 1px solid gray; */
      border-left: none;
    }
    .opti {
      border-left: 1px solid gray;
      border-bottom: 1px solid gray;
    }
    .game {
      border-left: none;
    }
    input[type=text] {
      width: 100%;
    }
    input[type=email] {
      width: 100%;
    }
    textarea {
      width: 88vw
    }
    .ourform {
      align-items: center;
      width: 80vw;
      margin-right: 0;
    }
    input[type=submit] {
      align-self: center;
    }
    .ourclient {
      margin-top: 40px; 
    }
    .form-title {
      text-align: center;
    }
    .teamcontainer {
    
      flex-direction: column;
      align-items: center;
    }
    .teamcontainer .right {
      margin-left: 0;
      margin-top: 20px;
    }
}
@media screen and (max-width: 420px) {
  .biglogo {
    display: none;
  }
  .story {
    width: 80vw;
  }
  .ourstory {
    text-align: center;
  }
  .storyalign {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play {
    margin-bottom: 10px;
  }
  .branding {
    border-left: none;
  }
  .mobile {
    border-left: none;
  }
  .opti {
    border-bottom: 1px solid gray;
    border-left: none;
  }
  .game {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid gray;
  }
  .love {
    border-left: none;
  }
  .galleryhead {
    flex-direction: column;

  }
  .alltext {
    align-self: center;
    margin-top: 10px;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=email] {
    width: 100%;
  }
  textarea {
    width: 88vw
  }
  .ourform {
    align-items: center;
    width: 80vw;
    margin-right: 0;
  }
  input[type=submit] {
    align-self: center;
  }
  .face1 {
    visibility: hidden;
  }
  .face2 {
    visibility: hidden;
  }
  .face3 {
    visibility: hidden;
  }
  .face4 {
    visibility: hidden;
  }
  .face5 {
    visibility: hidden;
  }
  .ourclient {
    margin-top: 40px; 
  }
  .form-title {
    text-align: center;
  }
  .clients {
    justify-content: center;
  }
  .teamcontainer {
    
    flex-direction: column;
    align-items: center;
  }
  .teamcontainer .right {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-height: 375px) {
  .dots {
    position: relative;
    bottom: 90px;
  }